# Re-export base functions from cat.stack
importFrom(cat.stack, classify)
importFrom(cat.stack, extract)
importFrom(cat.stack, explore)
importFrom(cat.stack, summarize)
importFrom(cat.stack, prompt_tune)
importFrom(cat.stack, install_cat_stack)
importFrom(cat.stack, ensure_ollama_running)

export(classify)
export(extract)
export(explore)
export(summarize)
export(prompt_tune)
export(install_cat_stack)
export(ensure_ollama_running)

# Domain-suffixed aliases
export(classify_survey)
export(extract_survey)
export(explore_survey)

export(classify_social)
export(extract_social)
export(explore_social)

export(classify_academic)
export(extract_academic)
export(explore_academic)
export(summarize_academic)

export(cerad_drawn_score)

export(classify_political)
export(extract_political)
export(explore_political)
export(summarize_political)

export(classify_web)
export(extract_web)
export(explore_web)
export(summarize_web)

export(catllm_attach)
